<header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Go Salão</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <!-- Dropdown Trigger -->                        
                        <li>
                            <a style="width: 128px;" class="dropdown-button waves-effect waves-light waves-light pulse" href="#" data-activates="profile-dropdown">
                                <span class="text-center">Minha conta</span>
                                
                            </a>
                            <ul id="profile-dropdown" class="dropdown-content" >

                                    <li alt="Perfil"><a href="#"> <i class="material-icons">face</i> Perfil</a>
                                    </li>
                                    <li><a href="#"> <i class="material-icons">settings</i>  Ajuste</a>
                                    </li>
                                    <li><a href="#"> <i class="material-icons">live_help</i> Ajuda</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"> <i class="material-icons">exit_to_app</i> Sair</a>
                                    </li>
                                </ul>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>