 <div id="error-page">

    <div class="row">
      <div class="col s12">
        <div class="browser-window">
          <div class="content">
            <div class="row">
              <div id="site-layout-example-right" class="col s12 m12 l12">
                <div class="row center">
                  <h1 class="text-long-shadow col s12">Página não encontrada</h1>
                </div>
                <div class="row center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>