<div class="row">
    <div class="row">
      <div class="col s12">
        <h5>Fornecedor: {{ fornecedor.nome }}</h5>
      </div>
        
      <div class="input-field col s6">
        <i class="material-icons">account_circle</i>
        <span for="nome">{{ fornecedor.nome }}</span>
      </div>
      <div class="col s6">
        <i class="material-icons">email</i>
        <span for="nome">{{ fornecedor.email }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <i class="material-icons">phone_iphone</i>
        <span for="nome">{{ fornecedor.celular }}</span>
      </div>
      <div class="col s6">
        <i class="material-icons">phone</i>
        <span for="nome">{{ fornecedor.telefone }}</span>
      </div>
    </div>


    <div> <!-- Localização -->
      <h5><i class="material-icons prefix">person_pin_circle</i> Dados de endereço</h5>
      <div class="row">
        <div class="input-field col s3">
            <span>CEP: </span>
            <span>{{ fornecedor.cep }}</span>
        </div>
        <div class="input-field col s6">
            <span>Logradouro: </span>
            <span>{{ fornecedor.logradouro }}</span>
        </div>
        <div class="input-field col s3">
            <span>Número: </span>
            <span>{{ fornecedor.numero }}</span>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s3">
              <span>Complemento: </span>
              <span>{{ fornecedor.complemento }}</span>
          </div>
          <div class="input-field col s3">
              <span>Bairro: </span>
              <span>{{ fornecedor.bairro }}</span>
          </div>
          <div class="input-field col s3">
              <span>Cidade: </span>
              <span>{{ fornecedor.bairro }}</span>
          </div>
          <div class="input-field col s3">
              <span>Estado: </span>
              <span>{{ fornecedor.bairro }}</span>
          </div>
      </div>
    </div>

    <div class="container">
      <a routerLink="/fornecedores" class="btn btn-sm waves-effect waves-light blue">
        Voltar à listagem <i class="material-icons right">list</i>
      </a>
      <a [routerLink]="['/fornecedores/editar', fornecedor.id]" class="btn btn-sm waves-effect waves-light">
          Editar Fornecedor <i class="material-icons right">create</i>
      </a>
    </div>
</div>